<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Files Explorer(PHP)</title>

        <link rel="icon" type="image/png" href="img/favicon.png"/>

        <link rel="stylesheet" href="templates/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    </head>
    <body>
        <header >
            <h></h>
        </header>
        <section class="container">
            <div class="table-responsive"> 
                <legend><i class="fa fa-folder-open" aria-hidden="true"></i> Files Explorer {{ root }}</legend>
                    <table class="table table-striped">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Last modification</th>
                        
                        <!-- {% for data in mydata %}
                        
                            {% if data['type'] == true %}

                                <tr>
                                    <td><img class='icons-f' src='img/folder.png'></td>
                                    <td><a href="index.php?dir={{data['chemin']}}">{{ data['file']}}</a></td>
                                    <td>Folder</td>
                                    <td id="date"> {{data['date']}} </td>
                                </tr>

                            {% else %}

                                <tr>
                                    <td><img class='icons-f' src='img/file.png'></td>
                                    <td><a href="download.php?dir={{data['down']}}">{{ data['file']}}</a></td>
                                    <td>{{ data['filetype'] }}</td>
                                    <td class="date"> {{data['date']}} </td>
                                </tr>

                            {% endif %}
                            
                        {% endfor %} -->
                        {% for data in mydata %}
                    
                            {% if data.type == true %}
                                <tr>
                                    <td>
                                        <img id='icons-f' src='img/folder.png'>
                                        <a href="?data={{data.path}}">{{ data.name }}</a>
                                    </td>
                                    <td>Folder</td>
                                    <td id="date"> {{ data.date }} </td>
                                    
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <img id='icons-f' src='img/file.png'>
                                        <!-- <td><a href="download.php?dir={{data['down']}}">{{ data['file']}}</a></td> -->
                                        <a href="{{data.path}}" download>{{ data.name }}</a>
                                    </td>
                                    <td id="type">{{ data.filetype }}</td>
                                    <td id="date"> {{ data.date }} </td>
                                </tr>
                            {% endif %}
                            
                        {% endfor %}

                        
                    </table>
            </div>

        </section>


    </body>
</html>